
<div class='row'>
  <h2 class='col-md-12 page-header'>
    <i class="fa fa-table"></i>
    <%= "#{controller.action_name.to_s.capitalize} Page" %>

    <span class='pull-right'>
      <%= save("Publish") %>
    </span>
  </h2>
</div>

<div class='row'>
  <div class='col-md-8 col-md-offset-2' style='padding-top: 20px'>
    <%= error_messages_for @page %>
  </div>
</div>

<div class='row'>
  <div class='col-md-8'>
    <%= f.text_field 'title', hide_label: :true, placeholder: 'Title' %>

    <div id="editor">
      <div id='simple_editor'>
        <%= f.tinymce_area 'body', hide_label: :true, rows: 20, cols: 120 %>
        <%= html_editor %>
      </div>
    </div>

    <%#= f.text_area :description %>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="panel-title">Publish settings</h4></div>

      <div class="panel-body">
        <%= f.form_group do %>
          <p>
            Slug: <strong><%= @page.slug %></strong> <%= toggle_element('slug') %>
          </p>

          <div id='slug' class='collapse'>
            <%= f.text_field :slug, hide_label: :true, autocomplete: 'off' %>
          </div>
        <% end %>

        <%= f.form_group do %>
          <p>
            Status: <strong><%= (@page.published) ? "Published" : "Offline" %></strong> <%= toggle_element('status') %>
          </p>

          <div id='status' class='collapse'>
            <%= f.check_box :published, label: 'Published' %>
          </div>
        <% end %>
      </div>
    </div>

    <%#= f.collection_select :post_type_id, PostType.all, :id, :title, { selected: @product.post_type_id, label: 'Post type' } %>
    <input type="hidden" id="removed_images" name="<%= @page.class.name.underscore %>[_removed_images][]" />
    <input type="hidden" name="<%= @page.class.name.underscore %>[_prev_images][]" />

    <%= render :partial => "admin/shared/settings", locals: {f: f, instance: @page} %>
  </div>
</div>
