<%= render_void_table(@pages.size, 4)  %>

<% for page in @pages %>
<tr>
  <td>
    <%= link_to_edit_with_profiles page.title, page %>
    <%= show_actions page %>
  </td>
  <td><%= page.slug%></td>
  <td>
    <%= format_date page.created_at %><br />
    <%= published_or_not page %>
  </td>
</tr>
<% end %>
<%= display_pagination(@pages, 5)%>
