
<%= bootstrap_form_for @page,
  url: admin_page_path,
  html: {
    id: "page_form",
    enctype: "multipart/form-data",
    class: 'autosave'
  } do |f| %>

  <%= render :partial => "form", locals: {f: f} %>

<% end %>
