<%- content_for :page_heading do %>
  <h2>
    <i class="fa fa-table"></i>
    Manage pages
    <%= link_to("New page", {controller: 'pages', action: 'new'}, id: 'dialog-link', class: 'btn btn-info pull-right')%>
  </h2>
<% end %>

<table class='table table-striped'>
<thead>
  <tr class='noborder'>
    <th>Title</th>
    <th>Slug</th>
    <th>Author</th>
    <th>Date</th>
  </tr>
</thead>
  <%= render 'pages' %>
</table>
