
<div>
  <div class='col-sm-6 col-md-6'>
  <%= bootstrap_form_for [:admin, @redirect] do |f| %>
    <%= error_messages_for @redirect %>
    <%= f.text_field :from_path, placeholder: "#{this_blog.base_url}/", help: "Leave empty to shorten a link" %>
    <%= f.text_field :to_path  %>
    <div class='form-actions'>
      <%= cancel_or_save %>
    </div>
  <% end %>
  </div>

  <div class='col-sm-6 col-md-6'>
    <table class="table table-striped">
      <thead>
        <tr class='noborder'>
        <th>From</th>
        <th>To</th>
      </tr>
    </thead>
    <%= render_void_table(@redirects.size, 2)  %>
    <% for redirect in @redirects %>
    <tr>
      <td>
      <%= link_to("#{redirect.to_url}", "#{redirect.to_url}") %>
      <%= show_redirect_actions redirect %>
    </td>
    <td><%= link_to(redirect.to_path, redirect.to_path) %></td>
    </tr>
    <% end %>
    <%= display_pagination(@redirects, 2)%>
    </table>
  </div>
</div>