<%= render_void_table(@articles.size, 5) %>
<% for article in @articles %>
<tr>
  <td>
    <strong><%= link_to_edit h(article.title), article %></strong>
    <%= show_actions article %>
  </td>
  <td>
    <% if ! article.resource.nil? %>
      <%= cover_img article, :small, with_placeholder: true %><br />
    <% end %>
  </td>
  <td><%= article.themes.map { |c| link_to h(c.title), {:controller => 'articles', :action => 'index', "search[themes]" => c.id}}.join(", ").html_safe %></td>
  <td><%= article.user.username %></td>
  <td>
    <%= format_date article.published_at %><br />
    <%= published_or_not article %>
  </td>
</tr>
<% end %>
<%= display_pagination(@articles, 5, 'first', 'last')%>
