<div class='row'>
  <h2 class='col-md-12 page-header'>
    <i class="fa fa-shopping-cart"></i>
    <%= "#{controller.action_name.to_s.capitalize} Article" %>

    <span class='pull-right'>
      <%= link_to('Cancel', {action: 'index'}, {class: 'btn btn-default'}) %>
      <span id='preview_link'>
        <%= link_to("Preview", article_preview_path(@article.id), {:target => 'new', :class => 'btn btn-default'}) if @article.id %>
      </span>
      <input id='save_draft' type="submit" value="Save as draft" name="article[draft]" class='btn btn-default' />

      <button class="btn btn-success">
        <%= controller.action_name == "new" ? "Publish" : "Save" %>
      </button>
    </span>
  </h2>
</div>

<div id="autosave"><%= set_autosave_tag(@article) %></div>

<div class='row'>
  <div class='col-md-8 col-md-offset-2' style='padding-top: 20px'>
    <%= error_messages_for @article %>
  </div>
</div>

<div class='row'>
  <div class="col-md-8">
    <%= f.text_field 'title', hide_label: :true, placeholder: 'Title' %>

    <div id="editor">
      <div id='simple_editor'>
        <%= f.tinymce_area 'body', hide_label: :true, rows: 20, cols: 120 %>
        <%= html_editor %>
      </div>
    </div>

    <%#= f.text_area :description %>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="panel-title">Cover image</h4></div>

      <div class="panel-body">
        <% url = @article.resource.nil? ? '//:0' : '/' + @article.resource.path(:full) %>
        <%= f.hidden_field 'resource_id' %>

        <p id="preview_container">
          <a href="<%= url %>" rel="lazybox"><img src="<%= url %>" width="100%" id="preview_image"></a>
        </p>

        <p>
          <input type="button" id="choose_preview_button" value="Upload image" style="display:none" class="btn btn-primary pull-right">
          <input type="button" id="remove_preview_button" value="Remove image" style="display:none" class="btn btn-danger pull-right">
        </p>

        <script>
          toggle_preview(<%= @article.resource.nil? ? "false" : "true" %>);
        </script>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="panel-title">Publish Settings</h4></div>

      <div class="panel-body">
        <%= f.collection_select :theme_ids, Theme.nested_set.all, :id, :title_with_path, { selected: @article.theme_ids, label: 'Themes' }, { multiple: true } %>
        <%= f.collection_select :tag_ids, Tag.nested_set.all, :id, :title_with_path, { selected: @article.tag_ids, label: 'Tags' }, { multiple: true } %>
        <%= f.collection_select :related_content_ids, this_blog.product_model.all, :id, :title, { selected: @article.related_content_ids, label: 'Products' }, { multiple: true } %>

        <script>
          $('#article_theme_ids').select2({ width: '100%' });
          $('#article_tag_ids').select2({ width: '100%' });
          $('#article_related_content_ids').select2({ width: '100%' });
        </script>

        <%= f.form_group do %>
          <p>
            Slug: <strong><%= @article.slug %></strong> <%= toggle_element('slug') %>
          </p>

          <div id='slug' class='collapse'>
            <%= f.text_field :slug, hide_label: :true, autocomplete: 'off' %>
          </div>
        <% end %>

        <%= f.form_group do %>
          <p>
            Status: <strong><%= @article.state.to_s.downcase %></strong> <%= toggle_element('status') %>
          </p>

          <div id='status' class='collapse'>
            <%= f.check_box :published, label: 'Published' %>
          </div>
        <% end %>

        <%= f.form_group do %>
          <p>
            User: <strong><%= @article.user.username %></strong> <%= toggle_element('user') %>
          </p>

          <div id='user' class='collapse'>
            <%= f.collection_select :user_id, User.all, :id, :username, selected: @article.user_id, hide_label: :true %>
          </div>
        <% end %>

        <%= f.form_group do %>
          <p>
            Comments are <%= content_tag(:strong, @article.allow_comments ? "enabled" : "disabled") %>
            <%= toggle_element('conversation') %>
          </p>

          <div id='conversation' class='collapse'>
            <%= f.check_box 'allow_comments', label: 'Allow comments' %>
          </div>
        <% end %>

        <%= f.form_group do %>
          <p>Published
            <strong>
              <%- if @article.published %>
                <%= display_date_and_time(@article.published_at) %>
              <%- else %>
                Now
              <%- end %>
            </strong>
            <%= toggle_element('publish') %>
          </p>
          <div id='publish' class='collapse'>
            <%= f.datetime_select 'published_at', { :"data-format" => "dd/MM/yyyy hh:mm:ss", use_month_numbers: true, hide_label: :true } %>
          </div>
        <% end %>
      </div>
    </div>
    <%= render :partial => "admin/shared/settings", locals: {f: f, instance: @article} %>
  </div>
</div>

