<%= render :partial => "admin/shared/resource_upload", locals: {kind: 'article'} %>

<%= bootstrap_form_for @article,
  url: admin_article_path(@article.id),
  html: {
    id: "article_form",
    enctype: "multipart/form-data",
    class: 'autosave'
  } do |f| %>

  <%= render :partial => "form", locals: {f: f} %>

<% end %>
