<%- content_for :page_heading do %>
  <h2>
    <i class="fa fa-pencil"></i>
    Manage articles
    <%= link_to("New article", {controller: 'articles', action: 'new'}, id: 'dialog-link', class: 'btn btn-info pull-right')%>
  </h2>
<% end %>

<%= form_tag({action: 'index'}, {method: :get, name: 'article', remote: true, :class => 'form-inline spinnable', :"data-replace" => '#articleList'}) do %>

  <% if params[:search] and params[:search]['state'] %>
    <input type='hidden' name="search[state]" value="<%= params[:search]['state'] %>" >
  <% end %>
  
  <p>
    <%= link_to("All articles", {action: 'index'}, {class: 'label label-default'}) %>
    <%= link_to("Published", {action: 'index', search: {state: 'published'}}, {class: 'label label-success'}) %>
    <%= link_to("Withdrawn", {action: 'index', search: {state: 'withdrawn'}}, {class: 'label label-danger'}) %>
    <%= link_to("Drafts", {action: 'index', search: {state: 'drafts'}}, {class: 'label label-info'}) %>
    <%= link_to("Pending", {action: 'index', search: {state: 'pending'}}, {class: 'label label-warning'}) %>
  </p>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class='pull-right'>
        <div class='form-group'>
          <%= select_tag('search[user_id]',
                         options_from_collection_for_select(User.all, 'id', 'username', selected: (params[:search] and params[:search]['user_id'].present? ? params[:search]['user_id'] : nil)),
                         {prompt: "Select an author", class: 'form-control'}) %>
        </div>
        <div class='form-group'>
          <%= select_tag('search[published_at]',
                         options_for_select(Article.find_by_published_at, selected: (params[:search] and params[:search]['published_at'].present? ? params[:search]['published_at'] : nil)),
                         {prompt: "Publication date", class: 'form-control'}) %>
        </div>
        <div class='form-group'>
          <input id="search" type="text" name="search[searchstring]" class='form-control' value="<%= params[:search]['searchstring'] if params[:search] and params[:search]['searchstring'].present? %>"/>
        </div>
        <div class='form-group'>
          <%= submit_tag('Search', {:class => 'btn btn-success'}) %>
          <span id='spinner' style="display:none;"><%= image_tag('spinner.gif') %></span>                    
        </div>
      </div>
      <br style='clear: both' />
    </div>
  </div>
  <table class="table table-hover">
    <tbody id="articleList">
      <%= render 'article_list', { :articles => @articles } -%>
    </tbody>
  </table>
<%end%>