<%= render :partial => "admin/shared/resource_upload", locals: {kind: 'article'} %>

<%= render "admin/shared/edit", {
  form_type: "article",
  form_action: { controller: :articles },
  form_method: :post,
  record: @article
} %>