<% from = local_assigns[:from].presence %>
<% articles.each_with_index do |article, i| %>
  <li class="<%= if i % 2 == 0 then "even" else "odd" end %>">
    <%= render 'articles/post_item', article: article, size: :big, have_date: true, from: from  %>
  </li>
<% end %>
