<% from = local_assigns[:from].presence %>
<% articles.each do |article| %>
  <li>
    <%= render 'articles/post_item', article: article, size: :medium, have_date: true, from: from %>
  </li>
<% end %>