<% from = local_assigns[:from].presence %>
<% articles.each do |article| %>
  <li>
    <%= render 'articles/post_item', article: article, size: 'small', have_date: false, from: from %>
  </li>
<% end %>
<li class="last"></li>