<% if articles then %>
  <section class="panel">
    <h2><%= title %></h2>
    <nav>
      <ul class="list posts-collection cover-floated">
        <% articles.each do |article| %>
          <li><%= render 'articles/post_item_sidebar', article: article, theme_not_date: true, from: from %></li>
        <% end %>
      </ul>
    </nav>
  </section>
<% end %>