<%

from = local_assigns[:from].presence
size = local_assigns[:size].presence || 'medium'

split = articles.length < columns ? 1 : articles.length.div(columns)
article_columns = articles.each_slice(split).to_a

%>

<% article_columns.each do |column| %>
  <li>
    <% column.each do |article| %>
      <%= render 'articles/post_item', article: article, size: size, have_excerpt: true, have_date: false, from: from %>
    <% end %>
  </li>
<% end %>