<%

url = article.permalink_url
have_excerpt = local_assigns[:have_excerpt].presence

%>
<article class="post">

  <a class="cover" href="<%= url %>">
    <%= cover_img article, size %>
  </a>

  <% if article.themes.count > 0 %>
    <% theme = article.themes[0] %>
    <div class="channels-in-post">
      <ul>
        <li><a href="<%= theme.permalink_url %>"><%= theme.title %></a></li>
      </ul>
    </div>
  <% end -%>

  <h3>
    <a href="<%= url %>"><% if have_excerpt %><span><% end %><%= article.title %><% if have_excerpt %></span><i><%= article.excerpt %></i><% end %></a>
  </h3>

  <%= render 'articles/user', user: article.user %>

  <% if have_date then %>
    <time><%= distance_of_time_in_words_to_now(article.published_at.to_time) %> <%= t("ago") %></time>
  <% end %>

  <a class="po-icons comments" href="<%= url %>#disqus_thread" data-disqus-identifier="<%= article.id %>"> </a>
</article>