<% url = article.permalink_url %>
<article class="post">
  <% if article.resource then %>
    <a class="cover" href="<%= url %>">
      <%= cover_img article, 'medium' %>
    </a>
  <% end -%>

  <div <% if article.resource then %>class="article-body"<% end %>>
    <% if article.themes.count > 0 %>
      <% theme = article.themes[0] %>
      <div class="channels-in-post">
        <ul>
          <li><a href="<%= theme.permalink_url %>"><%= theme.title %></a></li>
        </ul>
      </div>
    <% end -%>

    <h3>
      <a href="<%= url %>"><%= article.title %></a>
    </h3>

    <%= render 'articles/user', user: article.user %>

    <% if have_date then %>
      <time><%= distance_of_time_in_words_to_now(article.published_at) %> <%= t("ago") %></time>
    <% end %>

    <a class="po-icons comments" href="<%= url %>#disqus_thread" data-disqus-identifier="<%= article.id %>"> </a>

    <p>
      <%= article.excerpt %>
    </p>
  </div>

</article>