<% articles = @recent_articles  %>
<% if articles then %>
  <section id="recent">
    <h2><%= t(".heading") %></h2>
    <ul class="grid grid-col-4 posts-collection cover-medium">
      <%= render 'posts_medium', articles: articles, from: 'recent' %>
    </ul>

    <ul class="grid">
      <li class="recent more">
        <%= link_to_next_page articles, t(".show_more"), {action: :recent}, remote: true %>
      </li>
    </ul>

  </section>
<% end %>