<%

articles = @articles.to_a
articles_top          = articles.slice!(0...2)
articles_medium       = articles.slice!(0...6)

half = articles.length.div(2)
articles_bottom_left         = articles.slice!(0, (half.div(2) + 1) * 2)
articles_bottom_right_top    = articles.slice!(0...2)
articles_bottom_right_middle = articles.slice!(0...1)
articles_bottom_right_bottom = articles # articles.length % 2 == 0 ? articles : articles.slice!(0, articles.length - 1)

%>
<div id="content" class="clear">

  <%= widget('head') %>

  <div class="sections-group content-left">
    <% if articles_top.length > 0 then %>
      <section>
        <ul class="grid grid-col-2 posts-collection cover-big">
          <%= render 'articles/posts_big', articles: articles_top %>
        </ul>
      </section>
    <% end %>

    <% if articles_medium.length > 0 then %>
      <section>
        <ul class="columns col-3 posts-collection cover-small">
          <%= render 'articles/posts_columns', articles: articles_medium, size: 'medium2', columns: 3 %>
        </ul>
      </section>
    <% end %>
  </div>

  <aside>
    <%= widget('aside') %>
  </aside>

</div>

<% if articles_bottom_left.length > 0 then %>
  <div class="sections-group">
    <section>
      <ul class="columns col-2">
        <li>
          <ul class="columns col-2 posts-collection cover-medium">
            <%= render 'articles/posts_columns', articles: articles_bottom_left, columns: 2 %>
          </ul>
        </li>
        <% if articles_bottom_right_top.length > 0 then %>
          <li>
            <ul class="columns col-2 posts-collection cover-medium" id="column-1">
              <%= render 'articles/posts_columns', articles: articles_bottom_right_top, columns: 2 %>
            </ul>
            <% if articles_bottom_right_middle.length > 0 then %>
              <ul class="columns posts-collection cover-big">
                <%= render 'articles/posts_columns', articles: articles_bottom_right_middle, size: 'big2', columns: 1 %>
              </ul>
            <% end %>
            <% if articles_bottom_right_bottom.length > 0 then %>
              <ul class="columns col-2 posts-collection cover-medium" id="column-2">
                <%= render 'articles/posts_columns', articles: articles_bottom_right_bottom, columns: 2 %>
              </ul>
            <% end %>
          </li>
        <% end %>
      </ul>
      <%= paginate @articles %>
    </section>
  </div>
<% end %>