<div id="content" class="clear" itemscope itemtype="http://schema.org/Article">
  <%= widget('head') %>

  <meta itemprop="name" content="<%= @article.title %>" />
  <meta itemprop="url" content="<%= @article.permalink_url %>" />
  <% if @article.resource %>
    <meta itemprop="image" content="<%= cover_url(@article, :full, false) %>" />
  <% end %>
  <meta itemprop="dateCreated datePublished" content="<%= @article.published %>" />
  <meta itemprop="interactionCount" content="UserPageVisits:<%= @article.view_count %>" />

  <div class="content content-left">
    <article class="post">
      <section>

        <div class="article-post">
          <div class="channels-in-post">
            <ul>
              <% @article.themes.to_enum.with_index(0).each do |theme, i| %>
                <li><%= if i > 0 then '/ ' end %><a href="<%= theme.permalink_url %>"><%= theme.title %></a></li>
              <% end %>
            </ul>
          </div>

          <h1><%= @article.title %></h1>
          <div class="t">
            <%= render 'articles/user', user: @article.user %>

            <time><%= distance_of_time_in_words_to_now(@article.published_at) %> <%= t("ago") %></time>

            <a href="#disqus_thread" data-disqus-identifier="<%= @article.id %>" class="po-icons comments">0</a>

            <span class="po-icons views"><%= @article.view_count %></span>
          </div>

          <% if @article.resource %>
            <div class="post-cover">
              <%= link_to_if @article.linked_url.present?, cover_img(@article, :full), @article.linked_url %>
            </div>
          <% end %>

          <div class="ww-text">
            <%= @article.html(:body).html_safe %>
          </div>

          <ul class="po-icons tags tag">
            <% @article.tags.each_with_index do |tag, index| %>
              <li><%= link_to tag.title, tag.permalink_url %><%= ', ' if index < @article.tags.length - 1 %></li>
            <% end %>
          </ul>

        <div class="entry-share entry-block clearfix">
          <ul class="share-block">
            <li></li>
          </ul>
        </div>
      </div>
      </section>
    </article>

    <% if ! @article.comments_closed? && disqus_configured? %>
      <section>
        <div id="comments">
          <%= disqus_thread(@article).to_s.html_safe %>
        </div>
      </section>
    <% end -%>
  </div>

  <aside id="scrollable-block">
    <%= widget('aside', @article) %>
  </aside>

</div>

<div class="sections-group">
  <%= render 'recent' %>
</div>
