$('#recent ul:first').append("<%= escape_javascript(render :partial => 'posts_medium', :locals => { :articles => @recent } ) %>");
<% if @recent.last_page? %>
  $('#recent li.more a').remove();
<% else %>
  $('#recent li.more a').attr('href', '<%= url_for controller: :articles, action: :recent, page: @recent.current_page + 1 %>');
<% end %>