<%

posts_level_top    = @articles[0..1]
posts_level_bottom = @articles[2..14]

upper_body, lower_body, *rest = @grouping.body.split(/\s*<p>\s*<!--nextpage-->\s*<\/p>\s*/) if @grouping.body.present?

%>

<div id="content">

  <% if upper_body.present? %>
    <div class="sections-group search">
      <section>
        <div class="description description-light">
          <%= upper_body.html_safe %>
        </div>
      </section>
    </div>
  <% end %>

  <%= widget('head') %>

  <div class="sections-group content-left">
    <% unless posts_level_top.nil? %>
      <section>
        <ul class="grid grid-col-2 posts-collection cover-big">
          <%= render 'articles/posts_big', articles: posts_level_top %>
        </ul>
      </section>
    <% end -%>

    <% unless posts_level_bottom.nil? %>
      <section>
        <ul class="grid grid-col-4 posts-collection cover-small">
          <%= render 'articles/posts_smaller', articles: posts_level_bottom %>

          <%= paginate @articles %>
        </ul>
      </section>
    <% end %>

    <% if @articles.empty? %>
      <section>
        <p class="empty-collection">
          <%= t('.nothing_found') %>
        </p>
      </section>
    <% end -%>

    <% if lower_body.present? %>
      <section class="description-bottom">
        <div class="ww-text">
          <%= lower_body.html_safe %>
        </div>
      </section>
    <% end %>
  </div>

  <aside>
    <%= widget('aside') %>
  </aside>

</div>