<div id="content">

  <%= widget('head') %>

  <div class="sections-group content-left search">
    <section>
      <% if @query.present? %>
        <h1><%= t('.search_query') %>: "<%= @query %>"</h1>
      <% end -%>

      <% if @articles.present? %>
        <ul class="list posts-collection cover-floated">
          <%= render 'articles/posts_wide', articles: @articles %>
        </ul>

        <div class="sections-group content-left">
          <section>
            <%= paginate(@articles)%>
          </section>
        </div>
      <% else %>
        <p class="empty-collection">
          <%= t('.nothing_found') %>
        </p>
      <% end -%>
    </section>
  </div>

  <aside>
    <%= widget('aside') %>
  </aside>
</div>