<%

upper_body, lower_body, *rest = @grouping.body.split(/\s*<p>\s*<!--nextpage-->\s*<\/p>\s*/) if @grouping.body.present?

%>

<div id="content">

  <%= widget(:head) %>

  <div class="sections-group content-left search">

    <section>
      <h1><%= @grouping.title %></h1>
      <% if upper_body.present? %>
        <div class="ww-text">
          <%= upper_body.html_safe %>
        </div>
      <% end %>
    </section>

    <section>
      <h2><%= t('articles.search.related_articles') %></h2>
      <% if @articles %>
        <ul class="list posts-collection cover-floated">
          <%= render 'articles/posts_wide', articles: @articles %>
        </ul>

        <div class="sections-group content-left">
          <section>
            <%= paginate(@articles)%>
          </section>
        </div>
      <% else %>
        <p class="empty-collection">
          <%= t('.nothing_found') %>
        </p>
      <% end %>
    </section>

    <% if lower_body.present? %>
      <section class="description-bottom">
        <div class="ww-text">
          <%= lower_body.html_safe %>
        </div>
      </section>
    <% end %>

  </div>

  <aside>
    <%= widget(:aside) %>
  </aside>

</div>