<div id="content" class="clear" itemscope itemtype="http://schema.org/Article">
  <meta itemprop="name" content="<%= @page.title %>" />
  <meta itemprop="url" content="<%= @page.permalink_url %>" />
  <meta itemprop="dateCreated datePublished" content="<%= @page.published %>" />

  <div class="content content-left">
    <article class="post">
      <section>

        <div class="article-post">
          <h1><%= @page.title %></h1>

          <div class="ww-text">
            <%= @page.html(:body).html_safe %>
          </div>

        </div>
      </section>
    </article>
  </div>

</div>