<h3>Your drafts</h3>
<div class='well'>
  <% if @drafts.size == 0 %>
    <%= link_to "No drafts yet", :controller => 'articles', :action => 'new' %> ?
  <% else %>
    <ul class='unstyled'>
    <% for post in @drafts -%>
    <li>
      <h5><%= link_to(post.title, :controller => "admin/articles", :action => "edit", :id => post.id) %> <%= display_date_and_time(post.created_at) %></h5>
      <p><%= post.body.strip_html.slice(0,300) if post.body %></p>
	  <hr />
    </li>
    <% end %>
  </ul>
  <% end %>
</div>
