
<div class="col-lg-4">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-6">
          <i class="fa fa-bars fa-5x"></i>
        </div>
        <div class="col-xs-6 text-right">
          <p class="announcement-heading"><%= @statposts %></p>
          <p class="announcement-text">Articles</p>
        </div>
      </div>
    </div>
    <a href="<%= url_for :controller => 'admin/articles' %>">
      <div class="panel-footer announcement-bottom">
        <div class="row">
          <div class="col-xs-10">
            Articles: <%= @statposts %>
          </div>
          <div class="col-xs-2 text-right">
            <i class="fa fa-arrow-circle-right"></i>
          </div>
        </div>
      </div>
    </a>
    <a href="<%= url_for :controller => 'admin/articles', "search[user_id]" => current_user.id %>">
      <div class="panel-footer announcement-bottom">
        <div class="row">
          <div class="col-xs-10">
            Your articles: <%= @statuserposts %>
          </div>
          <div class="col-xs-2 text-right">
            <i class="fa fa-arrow-circle-right"></i>
          </div>
        </div>
      </div>
    </a>
    <a href="<%= url_for :controller => 'admin/articles', "search[state]" => "drafts" %>">
      <div class="panel-footer announcement-bottom">
        <div class="row">
          <div class="col-xs-10">
            Drafts: <%= @statsdrafts %>
          </div>
          <div class="col-xs-2 text-right">
            <i class="fa fa-arrow-circle-right"></i>
          </div>
        </div>
      </div>
    </a>
    <a href="<%= url_for :controller => 'admin/pages' %>">
      <div class="panel-footer announcement-bottom">
        <div class="row">
          <div class="col-xs-10">
            Pages: <%= @statspages %>
          </div>
          <div class="col-xs-2 text-right">
            <i class="fa fa-arrow-circle-right"></i>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
