<% @page_heading = t(".welcome_back", {user_name: current_user.name}) %>
<% @page_heading_class = 'icon-dashboard'%>

<div>
  <div class="row">
    <%= render "welcome" %>
  </div>

  <div class="col-sm-6 col-md-6">
    <%= render "drafts" %>
  </div>
  
</div>
