<% @page_heading = _('Cache')  %>
<% @page_heading_class = 'icon-settings'%>

<p><%= _("To save resources Poffy caches content in static files. Cache is cleared each time something gets published. You may however want to clear the cache yourself.") %></p>

<p><%= _("There are currently %d files in cache for a total amount of %d Kb", @cache_number.to_i, @cache_size.to_i / 1000) %>.</p>

<%= form_tag(:controller => 'cache', :action => 'index') do %>
  <div class='form-actions'>
    <%= save( _("Sweep cache")) %>
  </div>
<% end %>