<% if not flash.empty? %>
  <ol class="notices">
    <%- flash.each do |alert_level, message| %>
      <% level = alert_level.to_s.downcase %>
      <% level = 'error' if level == 'alert' # compatibility with poffy %>
      <li class="flash-<%= level -%>"><%= message %></li>
    <%- end %>
  </ol>
<% end %>