<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link rel="shortcut icon" href="<%= current_theme_image_path('favicon.png') %>" />

<%= tag :meta, name: 'description', content: @meta_description unless @meta_description.blank? %>

<%= tag :meta, name: 'robots', content: 'noindex, follow' if stop_index_robots? %>
<%= tag :meta, name: 'google-site-verification', content: this_blog.google_verification unless this_blog.google_verification.blank? %>
<%= tag :meta, property: 'og:site_name', content: this_blog.blog_name %>
<%= tag :meta, property: 'og:title', content: @article ? @article.title : @page_title %>

<%- if feed_atom %>
  <link rel="alternate" type="application/atom+xml" title="Atom" href="<%= feed_atom %>" />
<%- end %>
<%- if feed_rss %>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="<%= feed_rss %>" />
<%- end %>

<%#= stylesheet_link_tag 'user-styles', :cache => true %>
<%#= javascript_include_tag "lang/#{Localization.lang.to_s}" if File.exists? File.join(::Rails.root.to_s, 'public', 'lang', Localization.lang.to_s) %>
<%= javascript_tag "window._token = '#{form_authenticity_token}'"%>
<%= page_header_includes %>
<%= use_canonical if this_blog.use_canonical_url %>
<script type="text/javascript"><%= @content_for_script %></script>
<%= this_blog.custom_tracking_field unless this_blog.custom_tracking_field.blank? %>
<%= google_tag_manager.to_s.html_safe %>

