<%- content_for :page_heading do %>
  <h2><i class="fa fa-bars"></i> Manage post types</h2>
<% end %>

<div>
  <div class='col-sm-4 col-md-4'>
    <% @post_type ||= PostType.new %>
    <%= error_messages_for @post_type %>
    <%= bootstrap_form_for @post_type, url: (@post_type.new_record? ? admin_post_types_path : admin_post_type_path(@post_type.id)) do |f| %>
      <%= f.text_field :title %>
      <%= f.text_field :slug %>
      <%= f.text_area :description, :rows => 5 %>
      <div class='form-actions'>
        <%= cancel_or_save %>
      </div>
    <% end %>
  </div>

  <div class="col-sm-8 col-md-8">
    <table class='table table-striped'>
      <thead>
        <tr class='noborder'>
          <th>Title</th>
          <th>Slug</th>
        </tr>    
      </thead>
      <tr class='shade'>
        <td>Default</td>
        <td>read</td>
      </tr>
      <% for pt in @post_types -%>
      <tr>
        <td>
          <%= link_to_edit pt.title, pt %><br />
          <%= show_post_types_actions pt %>
        </td>
        <td><%= pt.slug %></td>
      </tr>
      <% end -%>
    </table>
  </div>
  
</div>
