<%

dfp_list = this_blog.carousel_banners_list.presence

if dfp_list then
  banner_ids = YAML::load(dfp_list)

  carousel_banner_ids = banner_ids.select { |e| /^bnr-carousel-/.match(e) }

%>
  <script>
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function () {
      var gads = document.createElement('script');
      gads.async = true;
      gads.type = 'text/javascript';
      var useSSL = 'https:' == document.location.protocol;
      gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
      var node = document.getElementsByTagName('script')[0];
      node.parentNode.insertBefore(gads, node);
    })();

    googletag.cmd.push(function () {
      <% banner_ids.each do |id, path| %>
        <% if id == 'bnr-top' then %>
          googletag.defineSlot('<%= path %>', [1110, 300], '<%= id %>').addService(googletag.pubads())
            .setCollapseEmptyDiv(true, true)
            .renderEnded = function () {
                var h = this.getSizes()[0].c || this.getSizes()[0].a;
                document.getElementById('<%= id %>').style.height = h + 'px';
            };
        <% else %>
          googletag.defineSlot('<%= path %>', [1110, 370], '<%= id %>').addService(googletag.pubads());
        <% end %>
      <% end %>

      googletag.enableServices();
    });

    $(function () {
      <% banner_ids.keys.each do |id| %>
        googletag.cmd.push(function() { googletag.display('<%= id %>'); });
      <% end %>
    });
  </script>

<%

  if carousel_banner_ids.size > 0 then

%>
  <section class="ads-carousel">
    <ul>
      <% carousel_banner_ids.keys.each do |id| %>
        <li>
          <div id="<%= id %>"></div>
        </li>
      <% end %>
    </ul>

    <p class="ads-carousel-pagination ads-carousel-controll">
      <% carousel_banner_ids.keys.each_with_index do |id, index| %>
        <a<% if index == 0 %> class="selected"<% end %> href="#<%= id %>"><%= index %></a>
      <% end %>
    </p>

    <a class="ads-carousel-prev ads-carousel-controll" href="#carousel-prev">&lt;</a>
    <a class="ads-carousel-next ads-carousel-controll" href="#carousel-next">&gt;</a>

  </section>

  <script>
    $(function () {
      $(".ads-carousel").po_ads('carousel');
    });
  </script>
<%

  end

end

%>