<%- content_for :page_heading do %>
  <h2><i class="fa fa-bars"></i> Manage tags</h2>
<% end %>

<div>
  <div class='col-sm-6 col-md-6'>
    <% @tag ||= Tag.new %>

    <%= bootstrap_form_for @tag, url: (@tag.new_record? ? admin_tags_path : admin_tag_path(@tag.id)) do |f| %>
      <%= error_messages_for @tag %>

      <%= f.text_field :title %>
      <%= f.collection_select :parent_id, Tag.where(parent_id: nil).order(:lft), :id, :title, {:include_blank => true} %>
      <%= f.text_field :slug, help: "Your tag slug. Leave empty if you don't know what to put here" %>
      <%= f.tinymce_area :body, :rows => 10, :cols => 120 %>
      <%= f.text_field :meta_title %>
      <%= f.text_area :meta_description %>

      <%= html_editor('po_splitter') %>

      <div class='form-actions'>
        <%= cancel_or_save %>
      </div>
    <% end %>
  </div>

  <div class="col-sm-6 col-md-6">
    <ol class="sortable_tree" data-max-levels="2" data-rebuild-url="<%= rebuild_admin_tags_url %>">
      <%= sortable_tree @tags %>
    </ol>
  </div>

</div>

