<div id="content" class="clear">
  <div class="sections-group">
    <section>
      <h1>Sign in</h1>
      <div class="form-sign-in popup-content">
        <style>
          label {
            padding-top: 10px;
          }
          fieldset {
            width: 400px;
          }
        </style>
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <fieldset>
          <label>Login:</label>
          <%= f.text_field :login, :required => false, :autofocus => true %>
          <label>Password:</label>
          <%= f.password_field :password, :required => false %>
          <% if devise_mapping.rememberable? %>
            <%= f.check_box :remember_men  %>Remember me
          <% end %>
        </fieldset>

        <div class="form-actions">
          <%= f.submit "Sign in", class: "button" %>
        </div>
        <% end %>

        <!--<%= render "devise/shared/links" %>-->
    </div>
    </section>
  </div>
</div>