<%- content_for :page_heading do %>
  <h2><i class="fa fa-bars"></i> Manage themes</h2>
<% end %>

<div>
  <div class='col-sm-6 col-md-6'>
    <% @theme ||= Theme.new %>
    <%= error_messages_for @theme %>

    <%= bootstrap_form_for @theme, url: (@theme.new_record? ? admin_themes_path : admin_theme_path(@theme.id)) do |f| %>
      <%= f.text_field :title %>
      <%= f.collection_select :parent_id, Theme.where(parent_id: nil).order(:lft), :id, :title, {:include_blank => true} %>
      <%= f.text_field :slug, help: "Your theme slug. Leave empty if you don't know what to put here" %>
      <%= f.tinymce_area :body, :rows => 10, :cols => 120 %>
      <%= f.text_field :meta_title %>
      <%= f.text_area :meta_description %>
      <%= html_editor('po_splitter') %>

      <div class='form-actions'>
        <%= cancel_or_save %>
      </div>
    <% end %>

  </div>

  <div class="col-sm-6 col-md-6 ">
    <ol class="sortable_tree" data-max-levels="2" data-rebuild-url="<%= rebuild_admin_themes_url %>">
      <%= sortable_tree @themes %>
    </ol>
  </div>

</div>