<div class='row'>
  <h2 class='col-md-12 page-header'>
    <i class="fa fa-shopping-cart"></i>
    <%= "#{controller.action_name.to_s.capitalize} Product" %>
    <span class='pull-right'>
      <%= link_to("Cancel", {:action => 'index'}, {:class => 'btn btn-default'}) %>

      <button class="btn btn-success">
        <%= controller.action_name == "new" ? "Publish" : "Save" %>
      </button>
    </span>
  </h2>
</div>

<div class='row'>
  <div class='col-md-8 col-md-offset-2' style='padding-top: 20px'>
    <%= error_messages_for @product %>
  </div>
</div>

<div class='row'>
  <div class='col-md-8'>
    <%= f.text_field 'title', hide_label: :true, placeholder: 'Title' %>

    <div id="editor">
      <div id='simple_editor'>
        <%= f.tinymce_area 'body', hide_label: :true, rows: 20, cols: 120 %>
        <%= html_editor %>
      </div>
    </div>

    <%#= f.text_area :description %>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="panel-title">Cover image</h4></div>

      <div class="panel-body">
        <% url = @product.resource.nil? ? '//:0' : '/' + @product.resource.path(:full) %>
        <%= f.hidden_field 'resource_id' %>

        <p id="preview_container">
          <a href="<%= url %>" rel="lazybox"><img src="<%= url %>" width="100%" id="preview_image"></a>
        </p>

        <p>
          <input type="button" id="choose_preview_button" value="Upload image" style="display:none" class="btn btn-primary pull-right">
          <input type="button" id="remove_preview_button" value="Remove image" style="display:none" class="btn btn-danger pull-right">
        </p>

        <script>
          <% if @product.resource.nil? %>
            toggle_preview(false);
          <% else %>
            toggle_preview(true);
          <% end %>
        </script>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="panel-title">Publish settings</h4></div>

      <div class="panel-body">
        <%= f.collection_select :product_category_ids, ProductCategory.nested_set.all, :id, :title_with_path, { selected: @product.product_category_ids, label: 'Product categories' }, { multiple: true, id: 'product_category_ids' } %>

        <script>
          $('#product_category_ids').select2({ width: '100%' });
        </script>

        <%= f.form_group do %>
          <p>
            Slug: <strong><%= @product.slug %></strong> <%= toggle_element('slug') %>
          </p>

          <div id='slug' class='collapse'>
            <%= f.text_field :slug, hide_label: :true, autocomplete: 'off' %>
          </div>
        <% end %>

        <%= f.form_group do %>
          <p>
            Status: <strong><%= (@product.published) ? "Published" : "Offline" %></strong> <%= toggle_element('status') %>
          </p>

          <div id='status' class='collapse'>
            <%= f.check_box :published, label: 'Published' %>
          </div>
        <% end %>
      </div>
    </div>

    <%#= f.collection_select :post_type_id, PostType.all, :id, :title, { selected: @product.post_type_id, label: 'Post type' } %>
    <input type="hidden" id="removed_images" name="<%= @product.class.name.underscore %>[_removed_images][]" />
    <input type="hidden" name="<%= @product.class.name.underscore %>[_prev_images][]" />

    <%= render :partial => "admin/shared/settings", locals: {f: f, instance: @product} %>
  </div>
</div>
