<%= render_void_table(@products.size, 3)  %>

<% for product in @products %>
<tr>
  <td>
    <%= link_to_edit_with_profiles product.title, product %>
    <%= show_actions product %>
  </td>
  <!--td>
    <% if ! product.resource.nil? %>
      <%= cover_img product, :full, with_placeholder: true %><br />
    <% end %>
  </td-->
  <td>
    <%= format_date product.created_at %><br />
    <%= published_or_not product %>
  </td>
</tr>
<% end %>
<%= display_pagination(@products, 5)%>
