<%= render :partial => "admin/shared/resource_upload", locals: {kind: 'product'} %>

<%= bootstrap_form_for @product,
  url: admin_product_path,
  html: {
    id: "product_form",
    enctype: "multipart/form-data",
    class: 'autosave'
  } do |f| %>

  <%= render :partial => "form", locals: {f: f} %>

<% end %>
