<%- content_for :page_heading do %>
  <h2>
    <i class="fa fa-shopping-cart"></i>
    Manage products
    <%= link_to("New product", {controller: 'products', action: 'new'}, id: 'dialog-link', class: 'btn btn-info pull-right')%>
  </h2>
<% end %>

<table class='table table-striped'>
<thead>
  <tr class='noborder'>
    <th>Title</th>
    <th>Date</th>
  </tr>
</thead>
  <%= render 'products' %>
</table>
