<%= render :partial => "admin/shared/resource_upload", locals: {kind: 'product'} %>

<%= render "admin/shared/edit", {
  form_type: "product",
  form_action: { controller: :products },
  form_method: :post,
  record: @product
} %>
