<%- content_for :page_heading do %>
  <h2><i class="fa fa-bars"></i> Manage product categories</h2>
<% end %>

<div>
  <div class='col-sm-6 col-md-6'>
    <% @product_category ||= ProductCategory.new %>
    <%= error_messages_for @product_category %>

    <%= bootstrap_form_for @product_category, url: (@product_category.new_record? ? admin_product_categories_path : admin_product_category_path(@product_category.id)) do |f| %>
      <%= f.text_field :title %>
      <%= f.collection_select :parent_id, ProductCategory.where(parent_id: nil).order(:lft), :id, :title, {:include_blank => true} %>
      <%= f.text_field :slug, help: "Your category slug. Leave empty if you don't know what to put here" %>
      <%= f.tinymce_area :body, :rows => 10, :cols => 120 %>
      <%= f.text_field :meta_title %>
      <%= f.text_area :meta_description %>
      <%= html_editor %>

      <div class='form-actions'>
        <%= cancel_or_save %>
      </div>
    <% end %>

  </div>

  <div class="col-sm-6 col-md-6 ">
    <ol class="sortable_tree" data-max-levels="2" data-rebuild-url="<%= rebuild_admin_product_categories_url %>">
      <%= sortable_tree @product_categories %>
    </ol>
  </div>

</div>