<%= error_messages_for @user %>

<fieldset>
  <legend>Account settings</legend>
  <%= f.text_field :username %>
  <%= f.text_field :email %>

  <% if current_user.admin? %>
    <%= f.form_group :email_confirmed do %>
      <%= f.check_box :confirmed?, label: 'Email confirmed?' %>
    <% end %>

    <%= f.collection_select :role_ids, Role.all, :id, :name, { selected: @user.role_ids, label: 'Roles' }, { multiple: true } %>
    <script>
      $('#user_role_ids').select2({ width: '100%' });
    </script>

    <%= f.select :state, {'active' => 'Active', 'inactive' => 'Inactive'}, label: "User's status" %>
  <% end %>
</fieldset>

<% if @user.new_record? %>
  <fieldset>
    <legend>Password</legend>
    <%= f.password_field :password %>
    <%= f.password_field :password_confirmation %>
  </fieldset>
<% else %>
  <fieldset>
    <legend>Change password</legend>
    <p>Leave empty if no change. Requires relogin.</p>
    <% unless current_user.admin? %>
      <%= f.password_field :current_password %>
    <% end %>
    <%= f.password_field :password %>
    <%= f.password_field :password_confirmation %>
  </fieldset>
<% end %>

<!--fieldset>
  <legend>Profile settings</legend>
  <%= f.text_field :name %>

  <p><%#= display_user_avatar(current_user, 'thumb') %> Your current avatar</p>
  <%= f.file_field :filename, label: "Upload your image", help: "Upload a .jpg, .png or .gif file" -%>
</fieldset-->

<fieldset>
  <legend>Notifications</legend>
  <%= f.form_group :notify do %>
    <%= f.check_box :notify_via_email, label: "Send notification messages via email?" %>
    <%= f.check_box :notify_on_new_articles, label: "Send notification messages when new articles are posted?" %>
  <% end %>
</fieldset>

<fieldset>
  <legend>Contact options</legend>
  <!--<div class='alert alert-info'><%#= "These information will be displayed on your %s".html_safe % [link_to("author page", :controller => '/authors', :action => 'show', :id => current_user.username)] %></div>-->
  <%= f.text_field :url, label: "Your site" %>
  <%= f.text_area :description, label: "Tell us more about you", rows: 5 %>
</fieldset>

<div class='form-actions'>
  <%= cancel_or_save %>
</div>
