<%- content_for :page_heading do %>
  <h2><i class="fa fa-user"></i> Edit user</h2>
<% end %>

<%= bootstrap_form_for [:admin, @user], layout: :horizontal do |f| %>
  <%= render :partial => "form", locals: { f: f } %>
<% end %>
