<%- content_for :page_heading do %>
  <h2>
    <i class="fa fa-user"></i>
    Manage users
    <%= link_to("New user", {controller: 'users', action: 'new'}, id: 'dialog-link', class: 'btn btn-info pull-right')%>
  </h2>
<% end %>

<table class="table table-striped">
  <thead>
    <tr class='noborder'>
      <th>Username</th>
      <th>Name</th>
      <th>Email</th>
      <th>Roles</th>
      <th>Articles</th>
      <th>State</th>
    </tr>
  </thead>
  <% for user in @users -%>
  <tr>
    <td><%= link_to_edit user.username, user%></td>
    <td> <%= user.name %></td>
    <td><%= mail_to user.email, user.email%></td>
    <td><%= user.roles.collect { |role| role.name }.join ',' %></td>
    <td><%= Article.where("user_id = #{user.id}").count %></td>
    <td class='<%= user.state %>'><%= "#{user.state.capitalize.downcase} user" %></td>
  </tr>
  <% end -%>
  <%= display_pagination(@users, 7)%>
</table>
