<%- content_for :page_heading do %>
  <h2><i class="fa fa-wrench"></i> Display settings</h2>
<% end %>

<%= bootstrap_form_for @blog, layout: :horizontal, :url => admin_blogs_path do |f| %>
  <fieldset>
    <legend>Publishing options</legend>
    <%= f.text_field :limit_article_display, size: 4, label: "Display", help: "articles on my homepage by default." %>

    <%= f.text_field :custom_url_shortener, label: "Custom URL shortener domain", help: "You may want to use a custom domain for URL shortening, here's where it happens." %>
  </fieldset>

  <fieldset>
    <legend>RSS feed</legend>

    <%= f.text_field :limit_rss_display, size: 4, label: "Display articles in my news feed by default."  %>
  </fieldset>

  <%= hidden_field_tag 'from', 'display' %>
  <%= save_settings %>
<% end %>
