<%- content_for :page_heading do %>
  <h2><i class="fa fa-wrench"></i> General settings</h2>
<% end %>

<%= error_messages_for @blog %>

<%= bootstrap_form_for @blog, layout: :horizontal, :url => admin_blogs_path do |f| %>
  <fieldset>
    <legend>Your blog</legend>
    <%= f.text_field :blog_name, {:size => this_blog.blog_name.length } %>
    <%= f.text_field :blog_subtitle, {:size => this_blog.blog_subtitle.length} %>
    <%= f.text_field :base_url, {:size => this_blog.base_url.length} %>

    <p>Poffy can notify you when new articles are posted</p>
    <%= f.text_field :email_from, label: "Source Email", help: "Email address used by Poffy to send notifications" %>
    <%= f.text_field :admin_display_elements, size: 4, label: "Items to display in admin lists" %>
  </fieldset>

  <legend>Feedback</legend>
    <%= f.form_group :default_allow_comments do %>
      <%= f.check_box :default_allow_comments, { label: "Enable comments by default" }, "true" %>
    <% end %>
  </fieldset>

  <legend>DFP Carousel</legend>
    <%= f.text_area :carousel_banners_list, label: "Carousel contents", help: "In YAML format ([id]: [path] on each line)" %>
  </fieldset>

  <%= hidden_field_tag 'from', 'index' %>
  <%= save_settings %>
<% end %>
