<%- content_for :page_heading do %>
  <h2><i class="fa fa-wrench"></i> Integration</h2>
<% end %>

<%= bootstrap_form_for @blog, layout: :horizontal, :url => admin_blogs_path do |f| %>
  <fieldset>
    <legend>Google</legend>

    <%= f.text_field :google_analytics, label: 'Google Tag Manager id' %>
    <%= f.text_field :google_verification, label: 'Google Webmaster Tools validation link' %>
  </fieldset>

  <fieldset>
    <legend>Disqus</legend>

    <%= f.text_field :disqus_shortname, label: 'Disqus shortname', help: 'Note: if empty comments will be disabled' %>
    <%= f.text_field :disqus_api_key, label: 'Disqus API key', help: 'Enables recent discussions toolbar' %>
  </fieldset>

  <fieldset>
    <legend>Publish on Twitter</legend>
    <% disabled = (this_blog.has_twitter_configured?) ? false : true %>
    <%= twitter_disabled_message(disabled) %>
    <%= f.text_field :twitter_consumer_key %>
    <%= f.text_field :twitter_consumer_secret %>
  </fieldset>

  <%= hidden_field_tag 'from', 'integration' %>
  <%= save_settings %>
<% end %>
