<%- content_for :page_heading do %>
  <h2><i class="fa fa-external-link"></i> Global SEO settings</h2>
<% end %>

<%= error_messages_for @blog %>

<%= bootstrap_form_for @blog, layout: :horizontal, :url => admin_blogs_path do |f| %>
<fieldset>
  <legend>General settings</legend>

  <%= f.text_area :description %>

  <%= f.form_group :rss_description do %>
    <%= f.check_box :rss_description, { label: 'Use RSS description' }, "true"%>
    <p class='help-block'>This will display at the bottom of each post in the RSS feed</p>
    <%= show_rss_description %>
  <% end %>

  <%= f.text_area :rss_description_text, help: 'You can use the following tags: %author% (author name), %blog_url% (this blog URL), %blog_name% (this blog title) and %permalink_url% (a link to the article you want to protect)' %>
</fieldset>

<fieldset>
  <legend>Indexing</legend>

  <%= f.text_area :robots, label: 'Robots.txt', help: unless robot_writable? then "You robots.txt file is not writeable. Poffy won't be able to write it" else "" end %>

  <%= f.form_group :dofollowify, help: 'You may want to moderate feedback when turning this on' do %>
    <%= f.check_box :dofollowify, { label: 'Use dofollow in comments' }, "true" %>
  <% end %>

  <%= f.form_group :use_canonical_url do %>
    <%= f.check_box :use_canonical_url, { label: 'Use canonical URL' }, "true" %>
    <span class='help-block'>Read more about <a href="http://support.google.com/webmasters/bin/answer.py?hl=en&answer=139394">rel='canonical'</a></span>
  <% end %>
</fieldset>

<fieldset>
  <legend>Misc</legend>

  <%= f.text_area :custom_tracking_field, label: 'Custom tracking code', help: 'Here you can add anything you want to appear in your application header, such as analytics service tracking code. Ex.: <script>...</script>' %>
</fieldset>

<%= hidden_field_tag 'from', 'index' %>
<%= save_settings %>
<% end %>
