<%- content_for :page_heading do %>
  <h2><i class="fa fa-external-link"></i> Slugs</h2>
<% end %>

<table class="table table-hover">
  <tbody>
    <%= render_void_table(@items.size, 3) %>
    <% for item in @items %>
    <tr>
      <td>
        <%= item.slug %>
      </td>
      <td>
        <%= item.class.name %>
      </td>
      <td>
        <%= item.id %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
