<%- content_for :page_heading do %>
  <h2><i class="fa fa-external-link"></i> Title settings</h2>
<% end %>

<%= error_messages_for @blog %>

<%= bootstrap_form_for @blog, layout: :horizontal, :url => admin_blogs_path do |f| %>
  <fieldset>
    <legend>Home</legend>
    <%= f.text_field :home_title_template, label: "Title template" %>
    <%= f.text_area :home_desc_template, label: "Description template" %>
  </fieldset>

  <fieldset>
    <legend>Articles</legend>
    <%= f.text_field :article_title_template, label: "Title template" %>
    <%#= f.text_area :article_desc_template, label: "Description template" %>
  </fieldset>

  <fieldset>
    <legend>Pages</legend>
    <%= f.text_field :page_title_template, label: "Title template" %>
    <%#= f.text_area :page_desc_template, label: "Description template" %>
  </fieldset>

  <fieldset>
    <legend>Paginated archives</legend>
    <%= f.text_field :paginated_title_template, label: "Title template" %>
    <%= f.text_area :paginated_desc_template, label: "Description template" %>
  </fieldset>

  <fieldset>
    <legend>Dated archives</legend>
    <%= f.text_field :archives_title_template, label: "Title template" %>
    <%= f.text_area :archives_desc_template, label: "Description template" %>
  </fieldset>

  <fieldset>
    <legend>Themes</legend>
    <%= f.text_field :theme_title_template, label: "Title template" %>
    <%= f.text_area :theme_desc_template, label: "Description template" %>
  </fieldset>

  <fieldset>
    <legend>Tags</legend>
    <%= f.text_field :tag_title_template, label: "Title template" %>
    <%= f.text_area :tag_desc_template, label: "Description template" %>
  </fieldset>

  <fieldset>
    <legend>Author page</legend>
    <%= f.text_field :author_title_template, label: "Title template" %>
    <%= f.text_area :author_desc_template, label: "Description template" %>
  </fieldset>

  <fieldset>
    <legend>Search results</legend>
    <%= f.text_field :search_title_template, label: "Title template" %>
    <%= f.text_area :search_desc_template, label: "Description template" %>
  </fieldset>

  <fieldset>
    <legend>Product category</legend>
    <%= f.text_field :products_list_title_template, label: "Title template" %>
    <%#= f.text_area :products_list_desc_template, label: "Description template" %>
  </fieldset>

  <fieldset>
    <legend>Product</legend>
    <%= f.text_field :product_title_template, label: "Title template" %>
    <%#= f.text_area :products_list_desc_template, label: "Description template" %>
  </fieldset>

  <h3>Help on title settings</h3>
    <p class='help-block'>These tags can be included in your templates and will be replaced when displaying the page.</p>
    <table class="table table-striped">
      <tr>
        <td>%title%</td>
        <td>Replaced with the title of the article/page</td>
      </tr>
      <tr>
        <td>%blog_name%</td>
        <td>The blog's name</td>
      </tr>
      <tr>
        <td>%blog_subtitle%</td>
        <td>The blog's tagline / description</td>
      </tr>
      <tr>
        <td>%description%</td>
        <td>Replaced with the post/page excerpt</td>
      </tr>
      <tr>
        <td>%tags%</td>
        <td>Replaced with the article tags (comma separated)</td>
      </tr>
      <tr>
        <td>%themes%</td>
        <td>Replaced with the article themes (comma separated)</td>
      </tr>
      <tr>
        <td>%title%</td>
        <td>Replaced with the article/page title</td>
      </tr>
      <tr>
        <td>%meta_title%</td>
        <td>Replaced with meta_title where applicable</td>
      </tr>
      <tr>
        <td>%search%</td>
        <td>Replaced with the current search phrase</td>
      </tr>
      <tr>
        <td>%currenttime%</td>
        <td>Replaced with the current time</td>
      </tr>
      <tr>
        <td>%currentdate%</td>
        <td>Replaced with the current date</td>
      </tr>
      <tr>
        <td>%currentmonth%</td>
        <td>Replaced with the current month</td>
      </tr>
      <tr>
        <td>%currentyear%</td>
        <td>Replaced with the current year</td>
      </tr>
      <tr>
        <td>%page%</td>
        <td>Replaced with the current page number</td>
      </tr>
      <tr>
        <td>%date%</td>
        <td>Replaced by the archive date</td>
      </tr>
      <tr>
        <td>%body%</td>
        <td>Replaced by the content body</td>
      </tr>
    </table>
  <%= save_settings %>
  <%= hidden_field_tag 'from', 'titles' %>
<% end %>

