<article class="product room">
  <a href="<%= product.permalink_url %>">
    <% if ! product.icon.nil? && ! product.icon.empty? %>
      <img src="<%= product.icon_url %>" alt="<%= product.title %>" />
    <% end %>
  </a>

  <h3>
    <%= link_to product.shortname, product.permalink_url %>
  </h3>

  <% unless product.product_categories.collect(&:id).include? @product_category.id then %>
    <i><%= product.product_categories[0].title %></i>
  <% end %>

  <% if product.rating.to_i > 0 %>
    <span class="rating">
      <% 1.upto(5).each do |rating| %>
        <i<% if product.rating.to_i >= rating %> class="selected"<% end -%>></i>
      <% end -%>
    </span>
  <% end %>

  <% if product.button_label.present? %>
    <%= link_to product.button_label, product.permalink_url, class: "button" %>
  <% end %>

</article>