<div id="content" class="page-products">
  <% have_aside = (@subcategories.size > 0 and @subcategories.collect(&:slug).reject(&:empty?).size > 0) %>
  <div class="sections-group <%= if have_aside then 'content-left' end %>">
    <section class="products-collection">
      <h1><%= @product_category.title %></h1>
      <p>
          <%= @product_category.body.html_safe %>
          <br/><br/>
      </p>

      <ul id="products-grid-section" class="grid grid-col-<%= have_aside ? '3' : '4' %> products-grid">
        <% @products.each do |product| -%>
          <li>
              <%= render :partial => 'product', locals: { product: product } %>
          </li>
        <% end -%>
      </ul>
    </section>
  </div>

  <style>
    .bold {
      font-weight: bold;
    }
  </style>

  <% if have_aside %>
    <aside>
      <section class="panel panel-nav grey-bg">
        <header><h2><%= t('.categories') %></h2></header>
        <nav>
          <ul class="list">
            <% top_category = if @product_category.parent.nil? then @product_category else @product_category.parent end %>
            <li><a href="<%= top_category.permalink_url %>" class="<% if @product_category.parent.nil? %>bold<% end %>"><%= t('.all') %></a></li>
            <% @subcategories.each do |c| %>
              <li><%= link_to c.title, c.permalink_url, class: @product_category.id == c.id ? 'bold' : '' %></li>
            <% end %>
          </ul>
        </nav>
      </section>
    </aside>
  <% end %>

</div>
