<div id="content" class="room-page" itemscope itemtype="http://schema.org/Article">
  <meta itemprop="name" content="<%= @product.title %>" />
  <meta itemprop="url" content="<%= product_url(@product.id) %>" />

  <article class="product">
    <h1><%= @product.title %></h1>

    <header>
      <figure class="product-default">
        <img src="<%= if @product.resource then cover_url(@product, :full, false) end %>" alt="<%= @product.title %>" />
        <figcaption>
          <a class="product-link" href="<%= @product.linked_url %>"></a>
          <div class="product-title"><%= @product.header_top.html_safe %></div>
          <div class="product-description"><%= @product.header_middle.html_safe %></div>
          <a class="button button-download product-download" href="<%= @product.linked_url %>" target="_blank">
            <span><%= @product.main_button_label.presence || t(".red_button") %></span>
            <i><%= Addressable::URI.parse(@product.linked_url).host %></i>
          </a>
        </figcaption>
      </figure>
    </header>

    <div class="sections-group content-left">
      <section>
        <div class="ww-text">
          <%= @product.body.html_safe %>
        </div>
      </section>

      <section>
        <p class="center">
          <a href="<%= @product.linked_url %>" class="button button-download" target="_blank"><i></i><%= @product.bottom_button_label.presence || t(".bottom_button", {label: @product.shortname}) %></a>
        </p>
      </section>
    </div>

    <aside>
      <% if @product.respond_to?(:screenshot_small) &&
              ! @product.screenshot_small.nil? &&
              ! @product.screenshot_small.empty? %>
        <section class="product-screenshots">
           <img src="<%= @product.screenshot_small_url %>" alt="<%= @product.title %>">
        </section>
      <% end -%>

      <section class="panel grey-bg feedbacks-collection raiting">
        <div id="create-feedback" itemscope itemtype="http://schema.org/AggregateRating" itemprop="aggregateRating">
          <span itemprop="ratingValue"><%= number_with_precision(@product.rating.to_i, precision: 1, delimiter: ',') %></span>
          <meta itemprop="worstRating" content="1"/>
          <meta itemprop="bestRating" content="5"/>
          <meta itemprop="ratingCount" content="1"/>

          <ul id="product-rater" class="stars">
            <% (1..5).each do |value| %>
              <li<%= ' class=empty' if value > @product.rating.to_i %> <% 'itemprop="ratingValue"' if value == @product.rating.to_i %>><%= value -%></li>
            <% end %>
          </ul>
          <i></i>
        </div>
      </section>

      <% if @product.related_articles.count > 0 %>
        <%= widget('aside', @product) %>
      <% end %>
    </aside>

  </article>

</div>

