@import "../../vendor/shared/poffy/stylesheets/default.scss";

$ww-text-paragraph-margin: 1.7em;

.mce-content-body img[data-wp-more][data-mce-selected] {
  outline: 1px dotted #888;
}

.mce-content-body img[data-wp-more="nextpage"] {
  background: transparent url("/assets/tinymce/more.png") repeat-y scroll center center;
}

.mce-content-body img[data-wp-more] {
  border: 0;
  box-shadow: none;
  width: 96%;
  height: 16px;
  display: block;
  margin: 15px auto 0;
  outline: 0;
  cursor: default;
}

.mce-content-body img[data-mce-placeholder] {
  border-radius: 0;
  padding: 0;
}

.mce-content-body img[data-mce-selected], hr[data-mce-selected] {
  outline: 1px solid black;
  resize: none;
}

@import "../../vendor/shared/poffy/stylesheets/tinymce.scss";
