<%- content_for :page_heading do %>
  <h2><i class="fa fa-list"></i> Manage menus</h2>
<% end %>

<div>
  <div class='col-sm-6 col-md-6'>
    <% @menu ||= Menu.new %>

    <%= error_messages_for @menu %>

    <%= bootstrap_form_for [:admin, @menu] do |f| %>
      <%= f.text_field :title %>
      <%= f.collection_select :parent_id, Menu.where(parent_id: nil).order("lft"), :id, :title, {:include_blank => true} %>
      <%= f.text_field :link %>

      <div class='form-actions'>
        <%= cancel_or_save %>
      </div>
    <% end %>
  </div>

  <div class="col-sm-6 col-md-6">
    <ol class="sortable_tree" data-max-levels="2" data-rebuild-url="<%= rebuild_admin_menus_url %>">
      <%= sortable_tree @menus %>
    </ol>
  </div>
</div>