<% if articles then %>
  <section class="panel">
    <header class="panel__header"><%= title %></header>
    <nav>
      <ul class="list posts-collection cover-floated">
        <% articles.each do |article| %>
          <li><%= render view: 'sidebar_item', locals: { article: article, theme_not_date: true, from: from } %></li>
        <% end %>
      </ul>
    </nav>
  </section>
<% end %>