<% url = article.permalink_url(only_path: true) %>
<article class="post">
  <a href="<%= url %>" class="cover">
    <%= cover_img article, :small %>
  </a>
  <% if theme_not_date then %>
    <% if not article.themes.empty? %>
      <ul class="channels-in-post">
        <% article.themes[0, 1].each do |theme| %>
          <li>
            <a href="<%= theme.permalink_url %>">
              <i><%= theme.title %></i>
            </a>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% else %>
    <time><%= distance_of_time_in_words_to_now(article.published_at) %> <%= t("ago") %></time>
  <% end %>
  <h3><a href="<%= url %>"><%= article.title %></a></h3>
</article>