<%

unless recently_published.nil? and recently_commented.nil? then

%>
  <section id="aside-discussions" class="panel grey-bg tabs tabs-sections-hidden">
    <ul class="tabs-navigation">
      <% unless recently_commented.nil? %>
        <li data-tab="discussions" data-section="discussions-section">
          <a href="#discussions"><%= t("sidebar.discussions.popular") %></a>
        </li>
      <% end %>
      <% unless recently_published.nil? %>
        <li data-tab="new" data-section="new-section">
          <a href="#new"><%= t("sidebar.discussions.recent") %></a>
        </li>
      <% end %>
    </ul>

    <% unless recently_commented.nil? %>
      <nav id="discussions-section">
        <ul class="list no-cover">
          <% recently_commented.each do |article| %>
            <li>
              <%= sidebar_article(article, 'discussions').html_safe %>
            </li>
          <% end -%>
        </ul>
      </nav>
    <% end %>

    <% unless recently_published.nil? %>
      <nav id="new-section">
        <ul class="list no-cover">
          <% recently_published.each do |article| %>
            <li>
              <%= sidebar_article(article, 'fresh').html_safe %>
            </li>
          <% end -%>
        </ul>
      </nav>
    <% end %>

    <script>
      $(function() { $("#aside-discussions").children("UL").poTabs({ save_state: 'aside_discussions_nav' }); });
    </script>

  </section>
<%

end

%>