<%#- className = form_action.delete(:class) %>
<% form_class = nil if not defined? form_class %>

<%= button_to_destroy_draft @article unless @article.nil? or @article.id.nil? or @article.state.to_s.downcase == 'draft' %>
<%= button_to_destroy_with_profiles(@article) unless @article.nil? or @article.id.nil? or @article.state.to_s.downcase == 'draft' %>

<%= bootstrap_form_for record,
  url: form_action,
  html: {
    id: "#{form_type}_form",
    enctype: "multipart/form-data",
    method: form_method,
    class: form_class
  } do |f| %>

  <%= render :partial => "form", locals: {f: f} %>

<% end %>
