<%= form_tag '/admin/resources/upload', :method => :post, multipart: true, remote: true, id: 'preview_upload_form', style: 'display: none' do %>
  <%= hidden_field 'upload', 'kind', value: kind %>
  <%= file_field('upload', 'filename') %>
  <%= submit_tag('Upload') -%>
<% end %>

<%= form_tag '/admin/resources', :method => :post, remote: true, id: 'preview_crop_form', style: 'display: none;' do %>
  <!--<img src="//:0" id="preview_crop_image">-->

  <%= hidden_field 'preview', 'kind', value: kind %>
  <%= hidden_field 'preview', 'crop_x' %>
  <%= hidden_field 'preview', 'crop_y' %>
  <%= hidden_field 'preview', 'crop_w' %>
  <%= hidden_field 'preview', 'crop_h' %>
  <%= hidden_field 'preview', 'original_image' %>
<% end %>