<div class="panel-group" id="accordion">
  <% instance.class.fields_for(instance.class).each do |klass,items| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#<%= klass.name %>-settings"><%= klass.name %> settings</a>
        </h4>
      </div>
      <div id="<%= klass.name %>-settings" class="panel-collapse collapse">
        <div class="panel-body">
          <% items.each_value do |item| %>
            <%= render :partial => "admin/shared/setting_item", locals: {f: f, instance: instance, item: item} %>
          <% end %>
        </div>
      </div>
    </div>
  <% end -%>
</div>