<% case item.ruby_type
     when :boolean %>
       <%= f.form_group :use_meta_keyword do %>
         <%= f.check_box item.name, { label: item.params[:title], help: item.params[:help] }, "true" %>
       <% end %>
<%   when :integer %>
       <%= f.number_field item.name, help: item.params[:help] %>
<%   when :enum %>
       <% options = {help: item.params[:help]} %>
       <% if instance.new_record? then options = { selected: item.params[:default] } end %>
       <%= f.select item.name, item.params[:choices], options %>
<%   when :image %>
       <%= f.form_group do %>
         <% id = "#{instance.class.name.underscore}_#{item.name}" %>
         <%= f.file_field item.name, label: nil, help: item.params[:help] %>

         <% filename = f.object.send("#{item.name}")
            if filename %>
              <input type="hidden" name="<%= instance.class.name.underscore %>[_prev_images][]" value="<%= item.name %>"/>
              <input type="hidden" name="<%= instance.class.name.underscore %>[_prev_images][]" value="<%= filename %>"/>
         <% end %>

         <% url = f.object.send("#{item.name}_url")
            if url %><p id="<%= item.name %>-container"><a href="<%= url %>" rel="lazybox"><img src="<%= url %>" style="max-width: 100%" ></a></p><% end %>

         <% unless f.object.send("#{item.name}").nil? %>
            <input type="button" class="remove_settings_image" rel="<%= item.name %>" value="Remove">
         <% end %>
       <% end %>
<%   when :text %>
       <%= f.text_area item.name, help: item.params[:help] %>
<%   else %>
       <%= f.text_field item.name, label: item.params[:title], help: item.params[:help] %>
<% end -%>