<h2 id="logo">
  <%= link_to(this_blog.blog_name, this_blog.base_url) %>
</h2>

<%= form_tag(search_base_path, {:method => 'get', :id => 'sform'}) do %>
  <fieldset>
    <input type="text" placeholder="<%= t(".search") %>" value="" name="q" id="q" autocomplete="off" />
    <input type="submit" value="Search" id="srch-btn" title="Search" />
  </fieldset>
<% end %>
