<%
   roots = Menu.nested_set.roots.all
   subclass = "items-#{roots.length}"
%>
<ul class="navmenu clearfix">
  <% roots.each_with_index do |item, i| -%>
    <% submenu = item.children -%>
    <li class="<% if i == 0 then %>first<% end -%> <% if submenu.count > 0 then %>has-smenu<% end -%> <%= subclass %>">
      <% if submenu.count > 0 then %>
        <a class="no-href" data-title-default="<%= t(".expand") %>" data-title-hover="<%= t(".collapse") %>"><%= item.title %></a>
      <% else %>
        <a href="<%= item.link %>"><%= item.title %></a>
      <% end -%>
      <% if submenu.count > 0 %>
        <ul class="sub-menu">
          <li class="h">
            <div><%= item.title %></div>
          </li>
          <% submenu.each_with_index do |subitem, j| -%>
            <li class="<% if j == submenu.size - 1 %>last<% end -%>"><a href="<%= subitem.link %>"><%= subitem.title -%></a></li>
          <% end -%>
        </ul>
      <% end %>
    </li>
  <% end -%>
</ul>