<%

if (not defined? theme) || theme.nil?
  main_theme = subthemes = nil
else
  main_theme = if theme.parent.nil? then theme else theme.parent end
  subthemes = main_theme.children
end

%>

<div class="p-30-h">
  <ul class="smenu <% unless main_theme.nil? %>selected<% end %>">
    <% Theme.nested_set.roots.all.each_with_index do |t, i| %>
      <li class="<% if i == 0 %>first<% end -%> <% if ! main_theme.nil? && main_theme.id == t.id %>selected<% end %>">
        <a href="<%= t.permalink_url %>"><%= t.title %></a>
        <% if ! main_theme.nil? && main_theme.id == t.id %><div></div><% end %>
      </li>
    <% end -%>
  </ul>

  <% if ! subthemes.nil? && subthemes.count > 0 %>
    <ul class="ssmenu clearfix">
      <% subthemes.each do |t| %>
        <li><a href="<%= t.permalink_url %>" class="<%= if t.id == theme.id then 'selected' end %>"><%= t.title %></a></li>
      <% end -%>
    </ul>
  <% end -%>
</div>