<!DOCTYPE html>
<html lang="en">
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:page_title) ? yield(:page_title) : (page_title.present? ? page_title : 'Poffy') %></title>

  <meta http-equiv="imagetoolbar" content="no" />

  <%= stylesheet_link_tag "administration/administration", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "administration/administration", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>

</head>
<body data-no-turbolink="true">
  <header class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/admin" style="color: #0086b3;"><i class="fa fa-rocket"></i> &laquo;<%= this_blog.blog_name %>&raquo; Admin</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="/"><i class="fa fa-home"></i>&nbsp;</a></li>
      <li>
        <%= link_to destroy_user_session_path, :method => :delete do %>
          <i class="fa fa-sign-out">&nbsp;</i>
        <% end %>
      </li>
    </ul>
  </header>

  <div id="wrapper">

    <nav class="navbar-inverse">
      <%= render_navigation :context => :admin, :expand_all => true %>
    </nav>

    <div id="page-wrapper" class="col-md-12">
      <div style='margin-top:20px'>
        <%= render 'admin/shared/flash', flash: flash %>
      </div>
      <%- if content_for?(:page_heading) %>
        <div class='page-header'>
          <%= yield :page_heading %>
        </div>
      <%- end %>
      <%= yield %>
    </div>

  </div>

  <%= render_lazybox %>

</body>
</html>
