<!DOCTYPE html>
<html lang="ru-RU">
<head profile="http://gmpg.org/xfn/11">
  <meta charset="utf-8">
  <title><%= content_for?(:page_title) ? yield(:page_title) : (page_title.present? ? page_title : '') %></title>

  <%= page_header %>

  <%= stylesheet_link_tag 'application/application', :media => 'all' %>
  <%= javascript_include_tag 'application/application' %>
</head>
<body>

  <% if current_user.present? %>
    <div class="panel-top">
      <ul>
        <li>
          <a href="/admin">Logged in as <strong><%= current_user.display_name %></strong></a>
        </li>
        <% if (params[:controller] == 'articles') && (params[:action] == 'redirect') && @article.present? %>
          <li>
            <%= link_to 'Edit article', edit_admin_article_path(@article.id) %>
          </li>
        <% elsif (params[:controller] == 'products') && (params[:action] == 'show') && @product.present? %>
          <li>
            <%= link_to 'Edit product', edit_admin_product_path(@product.id) %>
          </li>
        <% end %>
        <li>
          <%= link_to destroy_user_session_path, :method => :delete do %>
            Logout
          <% end %>
        </li>
      </ul>
    </div>
  <% end %>
  <div id="wrapper" class="limiter">
    <div id="cont-wr">
      <div id='bnr-top' class="top-bnr" style="display: none;"></div>

      <div id="header">
        <%= render 'layouts/header' %>
      </div>

      <%= render partial: 'layouts/main_menu' %>

      <% if (params[:controller] == 'articles') && ['index'].include?(params[:action]) %>
        <%= render partial:  'layouts/theme_menu' %>
      <% elsif (params[:controller] == 'themes' && params[:action] == 'show') %>
        <%= render partial: 'layouts/theme_menu', locals: {theme: @grouping} %>
      <% end -%>

      <%= render 'shared/flash', flash: flash %>

      <%= yield %>
    </div>
  </div>

  <footer>
    <%= render 'layouts/footer' %>
  </footer>

  <% if disqus_configured? %>
    <%= disqus_counts.to_s.html_safe %>
  <% end %>

</body>
</html>
